<ul>
  {% for tag in site.tags() %}
    <li>
        <a href="/tag/{{ tag.name | slugify}}">{{ tag.name }}</a>
      <ul>
        {% for tagPage in tag.group %}
          <li><a href="{{ tagPage.url }}">{{ tagPage.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
