<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in site.pages -%}
    {% if page.syntethic == false %}
    <url>
        <loc>{{ page.link }}</loc>
        {% if page.date -%}
          <lastmod>{{ page.date | dateISO }}</lastmod>
        {%- endif %}
        {% if page.sitemap -%}
          <priority>{{ page.sitemap.priority }}</priority>
        {%- endif %}
    </url>
    {% endif %}
  {%- endfor %}
</urlset>
