<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <title>{{ title }}</title>
</head>
<body>

{{ rootAttr }}

<main>
  <div class="wrapper">
    <h1>{{ title }}</h1>

    {{ content | safe }}

  </div></main>

    {% include "footer.njk" %}

<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
