
body {
  font-size: 62.5%;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

.center {
	text-align: center;
}

h1 {
	font-size: 3rem;
	margin-top: 20px;
	padding: 10px 0;
	font-weight: bold;
}
h2 {
	font-size: 2rem;
	margin-top: 2rem;
	font-weight: bold;
}

em {
	font-style: italic;
}

main, .main {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
  font-size: 2rem;
}

.wrapper {
  grid-column: 2;
  line-height: 1.2;
}

