<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ site.assets.dir_css }}/main.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ site.assets.bundle_js }}"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>

    <main><div class="wrapper">

      {{ content | safe }}

    </div></main>

    {% include "footer.njk" %}

    <script type="text/javascript" src="{{ site.assets.bundle_js }}"></script>
  </body>
</html>
