
/** Colors */
$color-wind: #253c72;
$color-white: #fff;
$color-black: #111111;
$color-red: #ff4136;
$color-yellow: #ffdc00;
$color-maroon: #85144b;

$color-gray: #666;
$color-silver: #dddddd;
$color-silver-light: #eeeeee;
$color-teal: #39cccc;
$color-navy: #001f3f;
$color-orange: #ff851B;
$color-blue: #0074d9;
