---
title: "Welcome!"
---

<h2>All pages</h2>

<ul>
  {% for f in site.pages | sortBy("url") %}
  <li>
    <a href="{{ f.url }}">{{ f.title }}</a> {{ '*' if f.syntethic else '' }}/{{ f.readingTime.minutes }}min
  </li>
  {% endfor %}
</ul>

<hr>
Book from JSON: {{ site.data.books[0].title }}

<hr>
Production flag: {{ site.production }}

<hr>
Page lookup:

<ul>
  <li>{{ site.pageOfSrc('/posts/post1.md').title }}</li>
</ul>

<hr>
Menus: {{ site.menu | out }}
