---
title: "Welcome!"
---

Index page!

All pages:
<ul>
  {% for f in site.pages %}
  <li>
    <a href="{{ f.url }}">{{ f.title }}</a> /{{ f.readingTime.minutes }}min
  </li>
  {% endfor %}
</ul>

Book: {{ site.data.books[0].title }}

<br>
Production: {{ site.production }}

<br>
Page lookup:

+ {{  site.pageOfSrc('/posts/post1.md').title }}
