---
title: "All Tags"
---

All Tags:

<ul>
  {% for tag in site.tags %}
    <li>
      {% set t = site.pageOfCollection('tags', tag) %}

      <h2><a href="{{ t.url }}">{{ tag }}</a></h2>
      <ul>
        {% for tagPage in site.collections.tags[tag] %}
          <li><a href="{{ tagPage.url }}">{{ tagPage.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
